<h1>New Game</h1>

<div>
  <% @letters.each do |letter| %>
    <p class="line"><%= letter.upcase %></p>
  <% end %>
</div>

<div>
  <p>What is the longest word you can find?</p>
  <form action="/score" method="POST" data-turbo="false" class="question">
    <input type="text" name="ask"/>
    <input type="submit" value="Play"/>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input name="letters" type="hidden" value="<%= @letters %>"/>
  </form>
</div>
